footer {
    height: 100%;
    width: 100%;
    color: #FFF;
    .content {
        padding: 0 20px;
        .fab {
            font-size: 30px;
            color: #FFF;
        }
    }
    .fas {
        font-size: 30px;
    }
}